name: SmartCheck Solidity Audit

on:
  push:
    branches:
      - master

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
         node-version: '14.x'

      - name: Install SmartCheck
        run: npm install @smartdec/smartcheck -g
          
      - name: Run SmartCheck
        run: smartcheck -p contracts/dummy.sol
