name: SmartCheck Analysis

on: [push]

jobs:
  analysis:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Setup Node.js and npm
      uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'
        
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-8-jdk
        curl -sL https://deb.nodesource.com/setup_16.x | sudo -E bash -
        sudo npm install -g smartcheck

    - name: Run SmartCheck analysis
      run: |
        smartcheck -p .
